@use '../../../styles/common';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    @extend %background-gradient;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fbec09;
    z-index: 1;
}

.container::after {
    @extend %background-photo-after;
    z-index: 0;
}

.wrapper {
    z-index: 1;
    padding: 0 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 10px;
    column-gap: 30px;
    grid-template-areas:
        'chessboard gamestats';
}

.wrapper > * {
    border: 1px solid purple;
}

.wrapperText {
    grid-area: text;
    text-align: center;
}

.wrapperChessboard {
    grid-area: chessboard;
}

.wrapperFooter {
    grid-area: footer;
    text-align: center;
}
