@use '../../../styles/colors';
@use '../../../styles/common';
@use '../../../styles/typography';

.wrapper{
   width:100%;
   height: 10vh;
   display:flex;

   .left{
      background-image: url("/src/assets/UI/Footer-left.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom left;
      width:100%;
      z-index: 0;
   }

   .right{
      background-image: url("/src/assets/UI/Footer-right.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom right;
      width:100%;
      z-index: 0;
   }

   .textwrapper{
      @extend %font-coderscamp;
      position: absolute;
      bottom:1.5vh;
      left: 50%;
      transform: translate(-50%, -50%);
      span{
         color: colors.$blue;
      }
   }
}