@use '../../../styles/colors';
@use '../../../styles/common';
//@use '../../../styles/typography';
.black {
    //background-color: black;
    width: 50px;
    height: 50px;
    border: 2px solid colors.$blue;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 2px;
}

.white {
    //background-color: orange;
    width: 50px;
    height: 50px;
    border: 2px solid colors.$red;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 2px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 52px);
    grid-template-rows: repeat(8, 52px);
}

.vertical_axi {
    display: flex;
    flex-direction: column;
}

.horizontal_axi {
    display: flex;
    flex-direction: row;
}

.selected {
    border-style: double;
    border-width: 6px;
}

.possible__move {
    background-image: url('./images/circle.svg');
    background-position: center;
    background-size: 50% auto;
    background-repeat: no-repeat;
    
}

.possible__move__hover {
    background-image: url('./images/hollow-circle.svg'), url('./images/hollow-circle.svg'), url('./images/circle.svg');
    background-position: center;
    background-size: 100%, 80%, 50%; //50% to cover first circle
    background-repeat: no-repeat;

}

.capture {
    background-image: url('./images/hollow-circle.svg'), url('./images/circle.svg');
    background-position: center;
    background-size: 100%, 80%; //80% to cover first circle
    background-repeat: no-repeat;
}

//pasant 
.pasant {
    background-image: url('./images/circle.svg');
    background-position: center;
    background-size: 80%; //80% to cover first circle
    background-repeat: no-repeat;
}

.castling__right {
    background-image: url('./images/arrow-right.svg');
    background-position: 100% 95%;
    background-size: 20%; //80% to cover first circle
    background-repeat: repeat-x;
}

.castling__left {
    background-image: url('./images/arrow-left.svg');
    background-position: 100% 95%;
    background-size: 20%; //80% to cover first circle
    background-repeat: repeat-x;
}