@use '../../../styles/colors';
@use '../../../styles/common';
//@use '../../../styles/typography';

$board__size: 50vw;

.board__wrapper {
    display: grid;
    grid-template-areas: 
    'vertical board'
    '. horizontal';
}

.board {
    grid-area: board;
    width: $board__size;
    height: $board__size;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 2px;
    box-sizing: border-box;
}

.tile {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2px;
}

.tile * {
    width: 100%;
    height: auto;
}

.black__tile {
    border: 2px solid colors.$red;
}

.white__tile {
    border: 2px solid colors.$blue;
}

.vertical__axi {
    grid-area: vertical;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    color: colors.$blue;
    height: $board__size;
    margin-right: 5px;
    //@extend %h4;
}

.horizontal__axi {
    grid-area: horizontal;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    color: colors.$red;
    width: $board__size;
    //@extend %h4;
}

.selected {
    border-style: double;
    border-width: 6px;
}

.possible__move__black {
    background-image: url('./images/blackSide/circle.svg');
    background-position: center;
    background-size: 50% auto;
    background-repeat: no-repeat;    
}

.possible__move__white {
    background-image: url('./images/whiteSide/circle.svg');
    background-position: center;
    background-size: 50% auto;
    background-repeat: no-repeat;    
}

.possible__move__black___hover {
    background-image: url('./images/blackSide/hollow-circle.svg'), url('./images/blackSide/hollow-circle.svg'), url('./images/blackSide/circle.svg');
    background-position: center;
    background-size: 100%, 80%, 50%; //50% to cover first circle
    background-repeat: no-repeat;

}

.possible__move__white___hover {
    background-image: url('./images/whiteSide/hollow-circle.svg'), url('./images/whiteSide/hollow-circle.svg'), url('./images/whiteSide/circle.svg');
    background-position: center;
    background-size: 100%, 80%, 50%; //50% to cover first circle
    background-repeat: no-repeat;

}

.capture__black {
    background-image: url('./images/blackSide/hollow-circle.svg'), url('./images/blackSide/circle.svg');
    background-position: center;
    background-size: 100%, 80%; //80% to cover first circle
    background-repeat: no-repeat;
}

.capture__white {
    background-image: url('./images/whiteSide/hollow-circle.svg'), url('./images/whiteSide/circle.svg');
    background-position: center;
    background-size: 100%, 80%; //80% to cover first circle
    background-repeat: no-repeat;
}

.pasant__black {
    background-image: url('./images/blackSide/circle.svg');
    background-position: center;
    background-size: 80%; //80% to cover first circle
    background-repeat: no-repeat;
}

.pasant__white {
    background-image: url('./images/whiteSide/circle.svg');
    background-position: center;
    background-size: 80%; //80% to cover first circle
    background-repeat: no-repeat;
}

.castling__right__black {
    position: relative;
}

.castling__left__black {
    position: relative;
}

.castling__right__white {
    position: relative;
}

.castling__left__white {
    position: relative;
}

.castling__right__black::after {
    background-image: url('./images/blackSide/arrow-right.svg');
    background-position: 100% 95%;
    background-size: 20%;
    background-repeat: repeat-x;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    content: '';
}

.castling__right__white::after {
    background-image: url('./images/whiteSide/arrow-right.svg');
    background-position: 100% 95%;
    background-size: 20%;
    background-repeat: repeat-x;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    content: '';
}

.castling__left__black::after {
    background-image: url('./images/blackSide/arrow-left.svg');
    background-position: 100% 95%;
    background-size: 20%;
    background-repeat: repeat-x;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    content: '';
}

.castling__left__white::after {
    background-image: url('./images/whiteSide/arrow-left.svg');
    background-position: 100% 95%;
    background-size: 20%;
    background-repeat: repeat-x;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    content: '';
}