@use '../../../styles/colors';
@use '../../../styles/common';
@use '../../../styles/typography';

.logo {
    margin-top: 20px;
    display: flex;
    @extend %font-coderscamp;
    font-size: 40px;
    color: black;
}

.year {
    display: flex;
    @extend %font-coderscamp;
    font-size: 20px;
    color: black;

    margin-bottom: 20px;
}

.description {
    @extend %p;
    display: flex;
    text-align: justify;
    color: black;
    margin-bottom: 20px;
}

.mentor {
    @extend %h4;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.team {
    @extend %h4;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.teamList {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    color: black;
}

.linkWrapper {
    @extend %h4;
    display: flex;
    flex-direction: column;
    text-align: center; 
    color: black;
    overflow-wrap: anywhere;
    text-align: center;
}

.link {
    @extend %p;
    display: flex;
    text-decoration: none;
    color: black;
    text-align: center;
}

.mainWrapperInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    margin-left: 50px;
    margin-right:50px;
    color: black;
}

.mainWrapperRules {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    margin-left: 50px;
    margin-right:50px;
    color: black;
}

.label {
    font-weight: bold;
}

.rulesLabel {
    font-weight: bold;
    @extend %h4;
}

.rulesLabel:first-of-type {
    margin-top: 20px;
}

.piecesContainer {
    display: flex;
    flex-direction: column;
}

.pieceCard {
    display: flex;
    margin-bottom: 20px;
}

.pieceContainerImage {
    align-self: flex-start;
    flex: 25%;
    margin-right: 10px;
}

.pieceImage {
    width: 100%;
    height: 100%;
}

.pieceName {
    display: flex;
    font-size: 20px;
    @extend %h4-bold;
}

.pieceDescription {
    flex: 75%;
    display: flex;
    flex-direction: column;
}

.pieceText {
    @extend %p;
}

.actionsContainer {
    display: flex;
    flex-direction: column;
}

.actionCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.actionName {
    @extend %h4;
    font-weight: bold;
}

.actionDescription {
    @extend %p;
}

.actionImage {
    margin-top: 10px;
    max-width: 100%;
    align-self: center;
}
