@use '../../../styles/colors';
@use '../../../styles/common';
@use '../../../styles/typography';

.mainWrapperInfo {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100vh;
  width: 50vw;
  overflow-y: auto;
  padding-left: 50px;
  padding-right: 50px;
  color: black;

  @media (max-width: common.$mobileMax) {
    width: 80vw;
  }
}

.logo {
  margin-top: 20px;
  display: flex;
  @extend %font-coderscamp;
  font-size: 40px;
  color: black;
  justify-content: center;
}

.year {
  display: flex;
  @extend %font-coderscamp;
  font-size: 20px;
  color: black;
  justify-content: center;
  line-height: 0.7;
  margin-bottom: 20px;
}

.description {
  @extend %p;
  display: flex;
  text-align: justify;
  color: black;
  margin-bottom: 20px;
}

.mentor {
  @extend %p;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  margin-bottom: 20px;
  > :first-child{
    font-weight:bold;
    text-transform: uppercase;
  }
}

.team {
  @extend %p;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  margin-bottom: 20px;
  > :first-child{
    font-weight:bold;
    text-transform: uppercase;
  }
}

.teamList {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  color: black;
}

.linkWrapper {
  @extend %p;
  display: flex;
  flex-direction: column;
  
  text-align: center;
  color: black;
  overflow-wrap: anywhere;
  text-align: center;
  > :first-child{
    font-weight:bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.link {
  @extend %p;
  font-weight:bold;
  display: flex;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 0 auto;
  border: 1px solid colors.$black;
  padding: 10px 50px;
}

.mainWrapperRules {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 50vw;
  overflow-y: auto;
  padding-left: 50px;
  padding-right: 50px;
  color: black;

  @media (max-width: common.$mobileMax) {
    width: 80vw;
  }

}

.label {
  font-weight: bold;
}

.rulesLabel {
  font-weight: bold;
  @extend %h3;
  margin-bottom: 30px;
  margin-top:30px;
}

.rulesLabel:first-of-type {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.piecesContainer {
  display: flex;
  flex-direction: column;
}

.pieceCard {
  display: flex;
  margin-bottom: 20px;
}

.pieceContainerImage {
  align-self: center;
  flex: 25%;
  margin-right: 10px;
}

.pieceImage {
  width: 50%;
  height: auto;
}

.pieceName {
  display: flex;
  font-size: 20px;
  @extend %h4-bold;
  font-weight: bold;
}

.pieceDescription {
  flex: 75%;
  display: flex;
  flex-direction: column;
}

.pieceText {
  @extend %p;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
}

.actionCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.actionName {
  @extend %h4;
  font-weight: bold;
}

.actionDescription {
  @extend %p;
}

.actionImage {
  margin-top: 10px;
  max-width: 100%;
  align-self: center;
}
