@use '../../../styles/common';
@use '../../../styles/typography';
@use '../../../styles/colors';

.input {
    background-color: black;
    position: relative;
    padding: 12px;
    color: colors.$blue;
    border: 1px solid colors.$blue;
    @extend %font-main;
    @extend %p;
    width:100%;

    &.wrong {
        color: colors.$red;
        border: 1px solid colors.$red;
    }
}

.input:focus {
    outline: none;
    @extend %shadow-blue-focus;
    @extend %shadow-blue-text;

    &.wrong {
        box-shadow: none;
        @extend %shadow-red-focus !optional;
        @extend %shadow-red-text !optional;
    }
}

.input:focus::placeholder {
    opacity: 0;
}

.wrapper {
    position: relative;
    display: inline-block;
    width:100%;

    &.wrong {
        @extend %shadow-red-1;
    }
}

.wrapper::before {
    content: "";
    display: flex;
    width: 9px;
    height: 100%;
    background-color: colors.$blue;
    position: absolute;
    top: 0;
    left: -9px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%,  0% 90%, 30% 80%, 30% 20%, 0% 10%);

    &.wrong::before {
    content: "";
    display: flex;
    width: 9px;
    height: 100%;
    background-color: colors.$red;
    position: absolute;
    top: 0;
    left: -9px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%,  0% 90%, 30% 80%, 30% 20%, 0% 10%);
    }
}

.errors {
   color: colors.$red;
   @extend %shadow-red-text;
   list-style-type: none;

   li:before {
    content: ">";
    padding-right: 5px;
  }
}

