@use './colors';

//Media-queries
// $mobile-max: (max-width: 900px);
$mobileMax: 850px;
$minimobileMax: 550px;

//Shadows
%shadow-blue-1 {
  box-shadow: 0px 0px 20px #54bce0;
}

%shadow-blue-2 {
  box-shadow: 0px 0px 12px #1ec8c8, 0px 0px 5px #1ec8c8, 0px 0px 2px #1ec8c8;
}

%shadow-blue-focus {
  box-shadow: 0px 0px 40px #44e0db, 0px 0px 20px #1ec8c8, 0px 0px 10px #1ec8c8,
    0px 0px 4px #1ec8c8;
}

%shadow-blue-flat {
  box-shadow: 4px 2px 0px #44e0db;
}

%shadow-blue-flat-text {
  text-shadow: 2px 1.5px 0px #44e0db;
}

%shadow-blue-text {
  text-shadow: 0px 0px 12px #1ec8c8, 0px 0px 5px #1ec8c8, 0px 0px 2px #1ec8c8;
}

%shadow-red-1 {
  box-shadow: 0px 0px 20px #ff658a;
}

%shadow-red-2 {
  box-shadow: 0px 0px 12px #fd6059, 0px 0px 5px #fd6059, 0px 0px 2px #fd6059;
}

%shadow-red-text {
  text-shadow: 0px 0px 12px #fd6059, 0px 0px 5px #fd6059, 0px 0px 2px #fd6059;
}

%shadow-yellow-1 {
  box-shadow: 0px 0px 12px #fbec09, 0px 0px 5px #dace1a, 0px 0px 2px #dace1a;
}

%shadow-yellow-text {
  text-shadow: 0px 0px 12px #fbec09, 0px 0px 5px #dace1a, 0px 0px 2px #dace1a;
}

//Modals
%border-modal {
  border: 2px solid colors.$blue;
  border-radius: 20px;
}

//Body
%background-gradient {
  background: linear-gradient(
      180deg,
      rgba(63, 221, 217, 0.15) 0%,
      rgba(0, 8, 12, 0.15) 32.54%
    ),
    linear-gradient(
      0deg,
      rgba(253, 96, 89, 0.15) 0%,
      rgba(0, 8, 12, 0.15) 37.72%
    ),
    #00080c;
  border: 15px solid colors.$yellow;
  position: relative;

  @media only screen and (max-width: $mobileMax) {
    border-width: 10px;
  }
  @media only screen and (max-width: $minimobileMax) {
    border-width: 5px;
  }
}

//Body::after
%background-photo-after {
  content: "";
  // background-image: url("../assets/UI/Background-cyber.jpg");
  background-image: url("/src/assets/UI/Background-cyber.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

//  %header-image{ background-image: url('/src/assets/UI/Header.svg');}
%header-image {
  background-image: url("/src/assets/UI/Header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

//Button-yellow
%button-yellow {
  background-color: colors.$yellow;
  height: 45px;
  cursor: pointer;
  position: relative;
}

//Glitched-effect

%glitched-effect {
  @keyframes glitched {
    0% {
      transform: skew(-20deg);
      left: -10px;
    }
    1% {
      transform: skew(-20deg);
      left: -10px;
      opacity: 0.2;
    }
    2% {
      transform: skew(0deg);
      left: 10px;
      opacity: 1;
    }
    4% {
      transform: skew(0deg);
      opacity: 0.7;
    }
    5% {
      transform: skew(10deg);
      opacity: 1;
    }
    6% {
      transform: skew(10deg);
    }
    7% {
      transform: skew(0deg);
    }
    8% {
      transform: skew(0deg);
    }
  }
}

%glitched-effect-chessboard {
  @keyframes glitchedChessboard {
    0% {
      opacity: 0.6;
    }
    1% {
      opacity: 1;
    }
    2% {
      opacity: 0;
    }
    3% {
      opacity: 1;
    }
  }
}
