@use '../../../styles/colors';
@use '../../../styles/typography';
@use '../../../styles/common';

.wrapper {
    padding-top: 3px;
    border: 1px solid colors.$yellow;
    min-height: 70px;
    overflow: auto;
    padding-left: 20px;
    margin-bottom: 5px;

    .pieceImage {
        width: 15px;
        height: 15px;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        box-sizing: border-box;
        border: 1px black solid;
        background-color: colors.$yellow;
        opacity: 0.5;
        border-radius: 5px;
    }
}

.listItem {
    @extend %p;
    font-size:16px;
    color: colors.$yellow;
}

.player {
    color: colors.$red;
}

.opponent {
    color: colors.$blue;
}