@use '../../../styles/colors';
@use '../../../styles/typography';
@use '../../../styles/common';

.wrapper {
    padding-top: 3px;
    border: 1px solid colors.$yellow;
    height: 50px;
    overflow-y: auto;
    padding-left: 20px;
    .pieceImage {
        width: 18px;
        height: 18px;
    }
}

.listItem {
    @extend %p;
    font-size:16px;
    color: colors.$yellow;
}

.player {
    color: colors.$red;
}

.opponent {
    color: colors.$blue;
}