@use '../../../styles/common';
@use '../../../styles/colors';
@use '../../../styles/typography';


.functionalButtonsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5px;
}

.functionalButton {
    background-color: colors.$yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0px;
    width: 100%;
    height: 40px;
}

.homeButton {
    background-color: colors.$yellow;
    margin-right:2px;
    clip-path: polygon(0 0, 100% 0, 100% 25%, calc(100% - 4px) 40%, calc(100% - 4px) 65%, 100% 75%, 100% 100%, 0 100%);
}

.previousButton {
    background-color: colors.$yellow;
    margin-right:2px;
    clip-path: polygon(4px 0, 100% 0, 100% 25%, calc(100% - 4px) 40%, calc(100% - 4px) 65%, 100% 75%, 100% 100%, 4px 100%, 4px 75%, 0 65%, 0 40%, 4px 25%);
}

.playButton {
    background-color: colors.$blue;
    margin-right:2px;
    clip-path: polygon(4px 0, calc(100% - 4px) 0, calc(100% - 4px) 25%, 100% 40%, 100% 65%, calc(100% - 4px) 75%, calc(100% - 4px) 100%, 4px 100%, 4px 75%, 0 65%, 0 40%, 4px 25%);
}

.nextButton {
    background-color: colors.$yellow;
    margin-right:2px;
    clip-path: polygon(0 0, calc(100% - 4px) 0, calc(100% - 4px) 25%, 100% 40%, 100% 65%, calc(100% - 4px) 75%, calc(100% - 4px) 100%, 0 100%, 0 75%, 4px 65%, 4px 40%, 0 25%);
}

.endButton {
    background-color: colors.$yellow;
    clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 75%, 4px 65%, 4px 40%, 0 25%);
}