@use '../../../styles/colors';
@use '../../../styles/typography';
@use '../../../styles/common';

$board__size: calc(90vh - 110px - 40px - 30px);

.wrapperGameStats {
    grid-area: gamestats;
    min-width: 20vw;
    animation: glitchedChessboard 45000ms infinite linear;
    animation-delay:60s;
    display:flex;
    flex-direction:column;
    //justify-content: space-between;
    max-height:$board__size;

    .opponentScoreWrapper{
        margin-bottom: 1vh;

        >  :last-child,:nth-last-child(2){
            margin-top: 1vh;
        }

        .timerOpponent{
            height: 28px;
            font-size: 16px;
            color: colors.$blue;
            border: 1px solid colors.$blue;
        }
    }

    .playerScoreWrapper{
        margin-bottom: 1vh;

        >  :last-child, :nth-last-child(2){
            margin-top: 1vh;
        }

        .timerPlayer{
            height: 28px;
            font-size: 16px;
            color: colors.$red;
            border: 1px solid colors.$red;
        }
    }

    .previousMovesWrapper{
        height:100%;
        font-size: 16px;
        margin-bottom: 1vh;
        overflow: hidden;

        >  :last-child{
            margin-top: 1vh;
        }
    }

    .quitButtonWrapper{
        margin-bottom: 1vh;

    }
}