$board__size: calc(90vh - 110px - 40px - 30px);

.wrapperGameStats {
    grid-area: gamestats;
    min-width: 20vw;

    .opponentScoreWrapper{
        margin-bottom: 1vh;

        :last-child{
            margin-top: 1vh;
        }
    }

    .playerScoreWrapper{
        margin-bottom: 1vh;

        :last-child{
            margin-top: 1vh;
        }
    }

    .previousMovesWrapper{
        margin-bottom: 1vh;

        :last-child{
            margin-top: 1vh;
        }
    }

    .quitButtonWrapper{
        margin-bottom: 1vh;

    }
}