@use '../../../styles/common';
@use '../../../styles/typography';

.header {
    background-image: common.$header-image;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    width: 100%;
    height: 5rem;
}

.cyberChess
{
    @extend %font-logo;
}

