@use '../../../styles/common';
@use '../../../styles/colors';
@use '../../../styles/typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  @extend %background-gradient;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fbec09;
  z-index: 1;
}

.container::after {
  @extend %background-photo-after;
  z-index: -1;
}

.wrapper {
  padding: 15px;
  margin: auto;
  min-width: 400px;

  @media only screen and (max-width: common.$minimobileMax) {
    min-width: 100%;
  }
}

.wrapperText {
  grid-area: text;
  text-align: center;
}

.mainMenuSettingsWrapper {
  @extend %p;
}

.startTheGameButton {
  @extend %button-yellow;
  max-width: 100px;
}

.wrapperFooter {
  grid-area: footer;
  text-align: center;
}

.playWithDiv {
  display: flex;
  flex-direction: column;

  > :last-child {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: common.$minimobileMax) {
      margin-top: 20px;
    }
  }
}

.timePerPlayerDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  > :last-child {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: common.$minimobileMax) {
      margin-top: 20px;
    }
  }
}

.levelDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  > :last-child {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: common.$minimobileMax) {
      margin-top: 20px;
    }
  }
}

.enterYourNameDiv {
  margin-top: 10px;

  >* {
    margin-top: 7px;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: common.$minimobileMax) {
      margin-top: 10px;
    }
  }

  > :last-child {
    margin-bottom: 10px;

    @media only screen and (max-width: common.$minimobileMax) {
      margin-top: 20px;
    }
  }
}