@use '../../../styles/common';
@use '../../../styles/colors';
@use '../../../styles/typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    @extend %background-gradient;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fbec09;
    z-index: 1;
}

.container::after {
    @extend %background-photo-after;
    z-index: -1;
}

.wrapper {
    padding: 15px;
    margin: auto;
    width: 500px;

    // display: grid;
    // grid-template-columns: repeat(2, auto);
    // grid-template-rows: repeat(4, auto);
    // row-gap: 10px;
    // column-gap: 30px;
    // grid-template-areas:
    //     "chessboard opponent"
    //     "chessboard player"
    //     "chessboard moves"
    //     "chessboard quit";
}


.wrapperText {
    grid-area: text;
    text-align: center;
}


.mainMenuSettingsWrapper {
    @extend %h4;
}

.playWithDiv {
    // width: 700px;
}

.timePerPlayerDiv {
    // width: 700px;

}

.enterYourNameDiv {
    // width: 700px;

}



.startTheGameButton {
    @extend %button-yellow;
    max-width: 100px;

}

.wrapperFooter {
    grid-area: footer;
    text-align: center;
}