@use '../../../styles/typography';
@use '../../../styles/colors';
@use '../../../styles/common';

//box-shadow: inset 0px 0px 16px 0px colors.$blue, 0px 0px 16px 0px colors.$blue;

.radio {
    box-sizing: border-box;
    margin: 0px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    visibility: hidden;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}
.radioGroup {
    display: flex;
}

.radio:not(:checked):hover {
   cursor: pointer;

   .radio:not(:checked)::before {
    box-sizing: border-box;
    margin: 0px;
    content: '';
    visibility: visible;
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid colors.$blue;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //box-shadow: inset 0px 0px 8px 0px colors.$blue, 0px 0px 16px 0px colors.$blue;
}
}

.radio:checked::before {
    box-sizing: border-box;
    margin: 0px;
    content: '';
    visibility: visible;
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid colors.$blue;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.radio:not(:checked)::before {
    box-sizing: border-box;
    margin: 0px;
    content: '';
    visibility: visible;
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid colors.$blue;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //box-shadow: inset 0px 0px 8px 0px colors.$blue, 0px 0px 16px 0px colors.$blue;
}

.radio:checked::after {
    box-sizing: border-box;
    margin: 0px;
    content: '';
    visibility: visible;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid colors.$blue;
    background-color: colors.$blue;
    border-radius: 50%;
    top: calc(25% - 1.5px);
    left: calc(25% - 1.5px);
    right: 0;
    bottom: 0;
}

.label {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    color: colors.$blue;
    @extend %p;
}

.option {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
}

.hovered {
    position: relative;
}

.hovered::before {
    content: '';
    box-shadow: inset 0px 0px 8px 0px #44E0DB, 0px 0px 16px 0px #44E0DB;
}