@use '../../../styles/colors';
@use '../../../styles/common';
@use '../../../styles/typography';

.wrapper {
  width: 100%;
  @extend %h4;

  &.red {
    color: colors.$red;
    @extend %shadow-red-text;
    animation: glitched 15000ms infinite ease-in-out;
    animation-delay:15s;

    .line {
      display: block;
      width: 100%;
      height: 8px;
      clip-path: polygon(100% 0%, 0% 0%, 0% 8px, 80px 8px, 90px 2px, 100% 2px);
      background-color: colors.$red;
    }
  }

  &.yellow {
    color: colors.$yellow;
    @extend %shadow-yellow-text;
    animation: glitched 15000ms infinite ease-in-out;
    animation-delay:15s;

    .line {
      display: block;
      width: 100%;
      height: 8px;
      clip-path: polygon(100% 0%, 0% 0%, 0% 8px, 80px 8px, 90px 2px, 100% 2px);
      background-color: colors.$yellow;
    }
  }

  &.blue {
    color: colors.$blue;
    @extend %shadow-blue-text;
    animation: glitched 15000ms infinite ease-in-out;
    animation-delay:15s;

    .line {
      display: block;
      width: 100%;
      height: 8px;
      clip-path: polygon(100% 0%, 0% 0%, 0% 8px, 80px 8px, 90px 2px, 100% 2px);
      background-color: colors.$blue;
    }
  }
}
