.wrapper {
    display: grid;
    background-color: aquamarine;
}

.wrapper__text {
    color: bisque;
}

.wrapper__chessboard {
    color: rebeccapurple;
}

.wrapper__opponent {
    color: blue;
}

.wrapper__player {
    color: salmon;
}

.wrapper__moves {
    color: chartreuse;
}

.wrapper__quit {
    color: slategrey;
}